
@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:24
  px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tubiao22:before { content: "\e6f7"; }

.icon-queren01:before { content: "\e651"; }

.icon-zhanghao01:before { content: "\e625"; }

.icon-mima1:before { content: "\e61e"; }

.icon-querenxinmima:before { content: "\e62a"; }

.icon-jiahao:before { content: "\e726"; }

.icon-biaoxing:before { content: "\e733"; }

.icon-kefu:before { content: "\e741"; }

.icon-zuobiao:before { content: "\e769"; }

.icon-leimu:before { content: "\e78e"; }

.icon-mima:before { content: "\e694"; }

.icon-gouwuche:before { content: "\e63f"; }

.icon-shouye:before { content: "\e64f"; }

.icon-wodejuhuasuan:before { content: "\e659"; }

.icon-psw:before { content: "\e6ba"; }

.icon-user:before { content: "\e6c3"; }

.icon-xinmima:before { content: "\e62b"; }

